{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static%}
{% block css %}
<style>
.starR1{
    background: url('{% static 'images/ico_review.png'%}') no-repeat -52px 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR2{
    background: url('{% static 'images/ico_review.png'%}') no-repeat right 0;
    background-size: auto 100%;
    width: 15px;
    height: 30px;
    float:left;
    text-indent: -9999px;
    cursor: pointer;
}
.starR1.on{background-position:0 0;}
.starR2.on{background-position:-15px 0;}
</style>
{% endblock %}


{% block body %}
<div class="carousel-item active" style="height: 500px;">
    <div class="d-block mx-auto" style="background: 
    url('{{movie.view_img}}') no-repeat; 
    background-size: 100% 100%;
    width: 100%;
    height: 100%;"></div>
    <!-- <img src="{{movie.view_img}}" class="d-block mx-auto" style="width: 80%; height: 500px;" alt="movie.title"> -->
    <div class="carousel-caption text-left movie_index_font d-none d-md-block">
    </div>

<form action="{% url 'movies:like' movie.pk %}" method='POST'>
 {% csrf_token %}
 {% if user in movie.like_users.all %}
<h1>{{movie.title}}<span><button class="btn" style="font-size:40px" type="submit"><i class="fas fa-heart" style="size:5px; color: red;"></i></button></span></h1>
 {% else %}
<h1>{{movie.title}}<span><button class="btn" style="font-size:40px" type="submit"><i class="far fa-heart" style="size:5px; color: red;"></i></button></span></h1>
 {% endif %}
 </form>

<h3>나의 평점 : </h3>
<form action="{% url 'movies:score' movie.pk %}" method='POST'>
 {% csrf_token %}
<div class="starRev">
  <span class="starR1 on" name="score">별1_왼쪽</span>
  <span class="starR2" name="score">별1_오른쪽</span>
  <span class="starR1" name="score">별2_왼쪽</span>
  <span class="starR2" name="score">별2_오른쪽</span>
  <span class="starR1" name="score">별3_왼쪽</span>
  <span class="starR2" name="score">별3_오른쪽</span>
  <span class="starR1" name="score">별4_왼쪽</span>
  <span class="starR2" name="score">별4_오른쪽</span>
  <span class="starR1" name="score">별5_왼쪽</span>
  <span class="starR2" name="score">별5_오른쪽</span>
</div>
<input type="submit">
</form>


        <h3>{{movie.description}}</h3>
        <span style="color: #ffffff; font-size: 20px;"><i class="fas fa-star"
                style="size:5px; color: orange;"></i> {{movie.rate_avg}} </span>
        <span style="color: #ffffff; font-size: 20px;"><i class="fas fa-heart"
                style="color: red;"></i> {{movie.like_users.all.count}} </span>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</div>
{% endif %}
<p>{{movie.title}}
{{ review_avg }}
 <form action="{% url 'movies:like' movie.pk %}" method='POST'>
 {% csrf_token %}
 {% if user in movie.like_users.all %}
 <input type="submit" value='좋아요 취소'>
 {% else %}
 <input type="submit" value='좋아요'>
 {% endif %}
 </form>
{{ movie.like_users.count }}
 </p>
<p>{{movie.audience}}</p>
<p>{{movie.genre.name}}</p>
<img src="{{movie.poster_url}}" alt="" class="my-image">
<hr>
<textarea name="" id="" cols="100" rows="30">
{{movie.description}} 
</textarea>
<hr>
<p>리뷰 하기</p>
<form action="{% url 'movies:review_new' movie.id %}" method="POST">
{% csrf_token %}
{{ review_form.as_p }}
<input type="submit" value='리뷰하기'>
</form>
{% for review in movie.review_set.all %}
<p>{{review.user}} => {{review.content}} {{ review.score }}
{% if user == review.user %}
 <form action="{% url 'movies:review_delete' movie.pk review.pk %}" method='POST'>
 {% csrf_token %}
 <input type="submit" value='리뷰 삭제'>
 </form>
 {% endif %}
 </p>
{% endfor %}
{% endblock  %}

{% block script %}
<script>
    $('.starRev span').click(function(){
    $(this).parent().children('span').removeClass('on');
    $(this).addClass('on').prevAll('span').addClass('on');
    return false;
    });
</script>
{% endblock %}
