{% extends 'base.html' %}
{% block body %}
<div class="carousel-item active" style="height: 500px;">
    <div class="d-block mx-auto" style="background: 
    url('{{movie.view_img}}') no-repeat; 
    background-size: 100% 100%;
    width: 100%;
    height: 100%;"></div>
    <!-- <img src="{{movie.view_img}}" class="d-block mx-auto" style="width: 80%; height: 500px;" alt="movie.title"> -->
    <div class="carousel-caption text-left movie_index_font d-none d-md-block">
    </div>
        <h1>{{movie.title}}</h1>
        <h3>{{movie.description}}</h3>
            <span style="color: white; font-size: 20px;"><i class="fas fa-star" style="size:5px; color: orange;"></i> 0.0 </span>
            <span style="color: white; font-size: 20px;"><i class="fas fa-heart" style="color: red;"></i> 0 </span> 
{% if messages %}
<div class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</div>
{% endif %}
<p>{{movie.title}}
{{ review_avg }}
 <form action="{% url 'movies:like' movie.pk %}" method='POST'>
 {% csrf_token %}
 {% if user in movie.like_users.all %}
 <input type="submit" value='좋아요 취소'>
 {% else %}
 <input type="submit" value='좋아요'>
 {% endif %}
 </form>
{{ movie.like_users.count }}
 </p>
<p>{{movie.audience}}</p>
<p>{{movie.genre.name}}</p>
<img src="{{movie.poster_url}}" alt="" class="my-image">
<hr>
<textarea name="" id="" cols="100" rows="30">
{{movie.description}} 
</textarea>
<hr>
<p>리뷰 하기</p>
<form action="{% url 'movies:review_new' movie.id %}" method="POST">
{% csrf_token %}
{{ review_form.as_p }}
<input type="submit" value='리뷰하기'>
</form>
{% for review in movie.review_set.all %}
<p>{{review.user}} => {{review.content}} {{ review.score }}
{% if user == review.user %}
 <form action="{% url 'movies:review_delete' movie.pk review.pk %}" method='POST'>
 {% csrf_token %}
 <input type="submit" value='리뷰 삭제'>
 </form>
 {% endif %}
 </p>
{% endfor %}
{% endblock  %}
