{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static%}
{% block css %}
<style>
  .target_search {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.2;
    height: 3.6;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
  }
</style>
{% endblock %}
{% block body %}
{% if genres%}
<h2>해당장르 영화 목록</h2>
<div class="row">
  {% for movie in genres %}
  <div class="col-lg-4 card mb-3" style="max-width: 300px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <a href="{% url 'movies:detail' movie.id %}"><img src="{{movie.poster_url}}" class="card-img"
            alt="{{movie.title}}"></a>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'movies:detail' movie.id %}">{{movie.title}}</a></h5>
          <p class="card-text target_search">{{movie.description}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% elif movies %}
<h2>영화 제목 목록</h2>
<div class="row">
  {% for movie in movies %}
  <div class="col-lg-4 card mb-3" style="max-width: 300px;">
    <div class="row no-gutters">
      <div class="col-md-6">
        <a href="{% url 'movies:detail' movie.id %}"><img src="{{movie.poster_url}}" class="card-img"
            alt="{{movie.title}}"></a>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'movies:detail' movie.id %}">{{movie.title}}</a></h5>
          <p class="card-text target_search">{{movie.description}}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<h2>영화 제목 목록</h2>
<div class="mx-3">
  <p>검색결과가 없습니다.</p>
</div>
{% endif %}
<hr>
{% if users %}
<table class="table">
  <h2>유저 목록</h2>
  <thead>
    <tr>
      <th scope="col">아이디</th>
      <th scope="col">이름</th>
      <th scope="col">이메일</th>
    </tr>
  </thead>
  <tbody>
      {% for user in users %}
    <tr>
      <td>{{user.username}}</td>
      <td>{{user.firstname}}{{user.lastname}}</td>
      <td>{{user.email}}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}